/* Existing Classes */

body {
    background-color: #222831;
    color: #EEEEEE;
}

p {
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    outline: 0;
}

img {
    margin-bottom: 20px;
}

/* Bootstrap overrides or custom classes */

.navbar {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background: rgb(0,173,181);
    background: linear-gradient(120deg, rgba(0,173,181,1) 26%, rgba(39,187,194,1) 51%, rgba(159,230,233,1) 100%);
    color: #EEEEEE;
}

.jumbotron {
    background-color: #393E46;
    color: #EEEEEE;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fakeimg {
    height: 200px;
    background: #EEEEEE;
    margin-bottom: 10px;
  }


.container {
    background-color: #393E46;
    color: #EEEEEE;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.shadow {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.nav-item {
    font-weight: 600;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-shadow: 0px 0px 8px #EEEEEE;
}

.navbar-brand:hover {
    text-shadow: 0px 0px 8px #EEEEEE;
}

.blog-h4 {
    font-weight: 600;
}

.blog-h5 {
    font-weight: 500;
}

.blog-h2 {
    font-weight: 700;
}

.code {
    background-color:rgba(255, 255, 255, 0.5)
}

#left-column {
    border-right-style: solid;
    border-right-color: #222831;
    border-right-width: 1px;
}

